################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NetworkShareApp/FileContentIndex/0c2faa5e-e3d8-41f2-8ff6-735e2ff0004c.vsidx
/.vs/NetworkShareApp/FileContentIndex/1b7ec2f5-7fff-4002-9362-4a607c98d75d.vsidx
/.vs/NetworkShareApp/FileContentIndex/2f45e6f9-6276-4598-9741-6fc131589ee7.vsidx
/.vs/NetworkShareApp/FileContentIndex/ea2d1b2b-aa96-460d-997f-df88a1c613e0.vsidx
